<section class="searchsection">
    <div class="row">
        <div class="col-md-6 mx-auto ">
            <p class="descriptionHead ">1er site d'annonces gratuites au Maroc</p>
            <p class="subdescription ">Trouver la bonne affaire parmi 834 473 annonces
            </p>
        </div>
    </div>

    <div class="row cent ">

        <div class=" col xm-3 " style="text-align: right; ">
            <br>
            <div class="form-group ">
                <input type="text " class="form-control " name=" " id=" " aria-describedby="helpId " placeholder="Que Chercher Vous ? ">
            </div>
        </div>
        <div class="col xm-3 ">
            <br>

            <div class="form-group ">
                <select class="form-control " name=" " id=" ">
             <option>Toutes les categories</option>
            <option>m</option>
            <option>k</option>
            <option>l</option>
          </select>
            </div>
        </div>
        <div class="col xm-3 ">
            <br>
            <div class="form-group ">
                <select class="form-control " name=" " id=" ">
            <option>Tout le Maroc</option>
            <option>k</option>
            <option>l</option>
          </select>
            </div>
        </div>

        <div class="col xm-3 " style="text-align:center; ">
            <br>
            <button class="btn btn-primary "><i style="width: 40px;" class="fa fa-search" aria-hidden="true"></i> </button>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleMsodalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" style="text-align: center;">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-6 mx-auto">
                        <div class="form-group">
                            <label for="">Emaissssl</label>
                            <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="exemple@domain.com">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" name="password" id="" placeholder="*******">
                        </div>
                        <div class="col-xl-6 mx-auto">

                            <button type="button" class="btn btn-primary">Connexion</button>
                        </div>


                    </div>


                </div>

            </div>

        </div>
    </div>
</div>
<app-categories></app-categories>