<section class="categories">
    <p class="descriptionHead">Choisissez une catégorie</p>
    <p class="subdescription">Catégories populaires
    </p>
    <div class="row">
        <div class="col xl-3">
            <div class="card" style="width: 10rem; height: 170px; text-align: center;">
                <div style="font-size: 60px;"> <i class="fa fa-university fa-60x" aria-hidden="true"></i>
                </div>

                <div class="card-body">
                    <p class="card-text">TOUTES LES CATÉGORIES </p>
                </div>
            </div>
        </div>
        <div class="col xl-3">
            <div class="card" style="width: 10rem; height: 170px; text-align: center;">
                <div style="font-size: 60px;"> <i class="fa fa-car" aria-hidden="true" style="color: #ff5664"></i>
                </div>

                <div class="card-body">
                    <p class="card-text" style="color: #ff5664">
                        VEHICULES </p>
                </div>
            </div>
        </div>
        <div class="col xl-3">
            <div class="card" style="width: 10rem; height: 170px; text-align: center;">


                <div style="font-size: 60px;"> <i class="fa fa-shopping-basket fa-60x" aria-hidden="true"></i>
                </div>


                <div class="card-body">
                    <p class="card-text">HABILLEMENT ET BIEN ETRE </p>
                </div>
            </div>
        </div>
        <div class="col xl-3">
            <div class="card" style="width: 10rem; height: 170px; text-align: center;">
                <div style="font-size: 60px;"> <i class="fa fa-mobile fa-60x" aria-hidden="true" style="color: #58d577;"></i>
                </div>


                <div class="card-body">
                    <p class="card-text" style="color: #58d577;">INFORMATIQUE ET MULTIMEDIA </p>
                </div>
            </div>
        </div>
    </div>


</section>

<section class="categories">
    <div class="row">
        <div class="col xl-3">
            <div class="card" style="width: 10rem; height: 170px; text-align: center;">
                <div style="font-size: 60px;"> <i class="fa fa-university fa-60x" aria-hidden="true"></i>
                </div>

                <div class="card-body">
                    <p class="card-text">TOUTES LES CATÉGORIES </p>
                </div>
            </div>
        </div>
        <div class="col xl-3">
            <div class="card" style="width: 10rem; height: 170px; text-align: center;">
                <div style="font-size: 60px;"> <i class="fa fa-car" aria-hidden="true" style="color: #ff5664"></i>
                </div>

                <div class="card-body">
                    <p class="card-text" style="color: #ff5664">
                        VEHICULES </p>
                </div>
            </div>
        </div>
        <div class="col xl-3">
            <div class="card" style="width: 10rem; height: 170px; text-align: center;">


                <div style="font-size: 60px;"> <i class="fa fa-shopping-basket fa-60x" aria-hidden="true"></i>
                </div>


                <div class="card-body">
                    <p class="card-text">HABILLEMENT ET BIEN ETRE </p>
                </div>
            </div>
        </div>
        <div class="col xl-3">
            <div class="card" style="width: 10rem; height: 170px; text-align: center;">
                <div style="font-size: 60px;"> <i class="fa fa-mobile fa-60x" aria-hidden="true" style="color: #58d577;"></i>
                </div>


                <div class="card-body">
                    <p class="card-text" style="color: #58d577;">INFORMATIQUE ET MULTIMEDIA </p>
                </div>
            </div>
        </div>
    </div>


</section>