<!-- multistep form -->

<div id="bb">
    <div class="col-xl-6-mx-auto">Créer un compte Occasion.ma Nouveau! Toutes vos annonces et vos favoris à un seul endroit, c'est gratuit !<br/>
    </div>
</div>
<form id="msform">

    <!-- fieldsets -->
    <fieldset *ngIf="div1">
        <h2 class="fs-title">Create your account</h2>
        <h3 class="fs-subtitle">This is step 1</h3>
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="pass" placeholder="Password" />
        <input type="password" name="cpass" placeholder="Confirm Password" />
        <input type="button" (click)="next1()" name="next" class="next action-button btn btn-primary" value="Next" />
    </fieldset>
    <fieldset *ngIf="div2">
        <h2 class="fs-title">Social Profiles</h2>
        <h3 class="fs-subtitle">Your presence on the social network</h3>
        <input type="text" name="twitter" placeholder="Twitter" />
        <input type="text" name="facebook" placeholder="Facebook" />
        <input type="text" name="gplus" placeholder="Google Plus" />
        <input type="button" name="previous" class="previous action-button btn btn-primary" value="Previous" />
        <input type="button" (click)="next2()" name="next" class="next action-button btn btn-primary" value="Next" />
    </fieldset>
    <fieldset *ngIf="div3">
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        <input type="text" name="fname" placeholder="First Name" />
        <input type="text" name="lname" placeholder="Last Name" />
        <input type="text" name="phone" placeholder="Phone" />
        <textarea name="address" placeholder="Address"></textarea>
        <input type="button" name="previous" class="previous action-button btn btn-primary" value="Previous" />
        <input type="submit" name="submit" class="submit action-button btn btn-primary" value="Submit" />
    </fieldset>
</form>